name: CI/CD Pipeline

on:
  push:
    branches: [ review ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [ "UserService", "MagazineService", "SubscriptionService", "APIGateway" ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: review
          token: ${{ secrets.PAT_TOKEN }}
          clean: true

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Run tests for ${{ matrix.service }}
        working-directory: ${{ matrix.service }}
        run: |
          chmod +x gradlew
          ./gradlew test --no-daemon

  publish:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: review
          token: ${{ secrets.PAT_TOKEN }}
          clean: true

      - name: Push changes from review to main
        run: |
          set -e
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }}.git

          echo "Fetching branches..."
          git fetch origin main
          git checkout main

          echo "Merging review -> main with 'theirs' strategy"
          git merge origin/review --allow-unrelated-histories -X theirs --no-edit || true

          echo "Pushing to main..."
          git push origin main || echo "No changes to push"

  deploy:
    runs-on: ubuntu-latest
    needs: publish  # выполняется только после публикации в main
    steps:
      - name: Deploy to server
        run: |
          echo "TODO: сюда ваш деплой-скрипт"
      - name: Trigger Render Deploy
        run: |
          curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"
